:root {
  --primary-color: #77C93C;
  --primary-color-accessible: #659542;
  background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}