.main {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
    
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 2rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #2c3e50;
    font-size: 1.25rem;
}

.targetForm {
    margin-top: 1rem;
}

.formGroup {
    margin-bottom: 2rem;
}

.formGroup label {
    display: block;
    margin-bottom: 1rem;
    font-weight: 500;
    color: #2c3e50;
    font-size: 1rem;
}

.radioLabel {
    font-weight: 500;
    margin-bottom: 1rem;
    color: #2c3e50;
    font-size: 1rem;
}

.radioGroup {
    display: flex;
    gap: 1rem;
}

.radioItem {
    position: relative;
    flex: 1;
}

.radioItem input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radioItem label {
    display: block;
    padding: 1rem 1.5rem;
    text-align: center;
    background-color: white;
    border: 2px solid #e9ecef;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #495057;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.radioItem input[type="radio"]:checked+label {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.radioItem label:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
    transform: translateY(-2px);
}

.radioItem input[type="radio"]:checked+label:hover {
    background-color: var(--primary-color-accessible);
    border-color: var(--primary-color-accessible);
    color: white;
}

.ageRange {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ageRange input {
    width: 100px;
    padding: 1rem;
    border: 2px solid #e9ecef;
    border-radius: 8px;
    background: white;
    transition: all 0.2s ease;
    color: #495057;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.ageRange input:focus {
    border-color: var(--primary-color);
    outline: none;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formGroup input[type="text"] {
    width: 100%;
    padding: 1rem;
    border: 2px solid #e9ecef;
    border-radius: 8px;
    background: white;
    transition: all 0.2s ease;
    color: #495057;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.formGroup input[type="text"]:focus {
    border-color: var(--primary-color);
    outline: none;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}